body{
   
    text-align: center;
    background-color: burlywood;
}
.box{
    height: 70px;
    width: 70px;

    align-content: center;
    background-color: aquamarine;
    font-size: 50px;
    color:maroon;
    flex-wrap: wrap;
    margin: 7px;
    border-radius: 20%;
    box-shadow: inset;
    justify-content: center;

}
.row1{
    gap: 20px;
}
.row2{
    gap: 20px;
}
.row3{
    gap: 20px;
}
#button{
    background-color: black;
    color: white;
    height: 30px;

    margin-top: 20px;
    border-radius: 15%;
}